.progressSection {
    height: auto;
    min-height: 60px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
    flex-shrink: 0;
    padding: clamp(0.3rem, 1vw, 20px);
    background-color: var(--secondary-color);
}

.progressSection h4 {
    color: var(--text-color-primary);
    font-size: clamp(1rem, 1.2vw, 30px);
}

.progressSection h5 {
    color: var(--text-color-primary);
    font-size: clamp(1rem, 1.2vw, 30px);
}

@media (max-width: 800px) {
    .progressSection {
        margin: 0;
        border-radius: 0;
    }
}